# Streamlit Auto Scout Project

## 1. Import Modules, Load Data and Data Review

In [2]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [3]:
import sklearn
sklearn.__version__

'1.0.2'

In [4]:
df = pd.read_csv("auto_scout_final.csv")

In [5]:
df.head()

,make_model,body_type,price,km,Type,Fuel,Extras,Gears,age,Previous_Owners,...,Upholstery_type,Gearing_Type,Displacement_cc,Weight_kg,Drive_chain,cons_comb,CO2_Emission,Comfort_Convenience_Package,Entertainment_Media_Package,Safety_Security_Package
0,Audi A1,Sedans,15770,56013.0,Used,Diesel,"Alloy wheels, Catalytic Converter, Voice Control",7.0,3.0,2.0,...,Cloth,Automatic,1422.0,1220.0,front,3.8,99.0,Premium,Plus,Safety Premium Package
1,Audi A1,Sedans,14500,80000.0,Used,Benzine,"Alloy wheels, Sport seats, Sport suspension, V...",7.0,2.0,1.0,...,Cloth,Automatic,1798.0,1255.0,front,5.6,129.0,Standard,Plus,Safety Premium Package
2,Audi A1,Sedans,14640,83450.0,Used,Diesel,"Alloy wheels, Voice Control",7.0,3.0,1.0,...,Cloth,Automatic,1598.0,1135.0,front,3.8,99.0,Premium,Standard,Safety Premium Package
3,Audi A1,Sedans,14500,73000.0,Used,Diesel,"Alloy wheels, Sport seats, Voice Control",6.0,3.0,1.0,...,Cloth,Automatic,1422.0,1195.0,front,3.8,99.0,Standard,Plus,Safety Premium Package
4,Audi A1,Sedans,16790,16200.0,Used,Diesel,"Alloy wheels, Sport package, Sport suspension,...",7.0,3.0,1.0,...,Cloth,Automatic,1422.0,1135.0,front,4.1,109.0,Premium,Plus,Safety Premium Package

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15909 entries, 0 to 15908
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   make_model                   15909 non-null  object
 1   body_type                    15909 non-null  object
 2   price                        15909 non-null  int64
 3   km                           15909 non-null  float64
 4   Type                         15909 non-null  object
 5   Fuel                         15909 non-null  object
 6   Extras                       15909 non-null  object
 7   Gears                        15909 non-null  float64
 8   age                          15909 non-null  float64
 9   Previous_Owners              15909 non-null  float64
 10  hp_kW                        15909 non-null  float64
 11  Inspection_new               15909 non-null  int64
 12  Paint_Type                   15909 non-null  object
 13  Upholstery_type              15909 non-null  object
 14  Gearing_Type                 15909 non-null  object
 15  Displacement_cc              15909 non-null  float64
 16  Weight_kg                    15909 non-null  float64
 17  Drive_chain                  15909 non-null  object
 18  cons_comb                    15909 non-null  float64
 19  CO2_Emission                 15909 non-null  float64
 20  Comfort_Convenience_Package  15909 non-null  object
 21  Entertainment_Media_Package  15909 non-null  object
 22  Safety_Security_Package      15909 non-null  object
dtypes: float64(9), int64(2), object(12)
memory usage: 2.8+ MB

In [7]:
df.describe()

,price,km,Gears,age,Previous_Owners,hp_kW,Inspection_new,Displacement_cc,Weight_kg,cons_comb,CO2_Emission
count,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000,15909.000000
mean,18020.241876,32092.436526,5.937268,1.389591,1.042869,88.493746,0.247156,1428.657364,1337.675467,4.824329,117.783110
std,7377.200813,36982.838757,0.704943,1.121355,0.339241,26.671943,0.431372,275.852413,199.672043,0.887890,18.022786
min,4950.000000,0.000000,5.000000,0.000000,0.000000,40.000000,0.000000,890.000000,840.000000,3.000000,45.000000
25%,12850.000000,1913.000000,5.000000,0.000000,1.000000,66.000000,0.000000,1229.000000,1165.000000,4.000000,104.000000
50%,16900.000000,20410.000000,6.000000,1.000000,1.000000,85.000000,0.000000,1461.000000,1295.000000,4.800000,117.000000
75%,21900.000000,46900.000000,6.000000,2.000000,1.000000,103.000000,0.000000,1598.000000,1472.000000,5.400000,129.000000
max,74600.000000,317000.000000,8.000000,3.000000,4.000000,294.000000,1.000000,2967.000000,2471.000000,9.100000,253.000000

In [8]:
df.isnull().sum()

make_model                     0
body_type                      0
price                          0
km                             0
Type                           0
Fuel                           0
Extras                         0
Gears                          0
age                            0
Previous_Owners                0
hp_kW                          0
Inspection_new                 0
Paint_Type                     0
Upholstery_type                0
Gearing_Type                   0
Displacement_cc                0
Weight_kg                      0
Drive_chain                    0
cons_comb                      0
CO2_Emission                   0
Comfort_Convenience_Package    0
Entertainment_Media_Package    0
Safety_Security_Package        0
dtype: int64

## Feature Engineering

In [9]:
df_object = df.select_dtypes(include ="object").head()
df_object

,make_model,body_type,Type,Fuel,Extras,Paint_Type,Upholstery_type,Gearing_Type,Drive_chain,Comfort_Convenience_Package,Entertainment_Media_Package,Safety_Security_Package
0,Audi A1,Sedans,Used,Diesel,"Alloy wheels, Catalytic Converter, Voice Control",Metallic,Cloth,Automatic,front,Premium,Plus,Safety Premium Package
1,Audi A1,Sedans,Used,Benzine,"Alloy wheels, Sport seats, Sport suspension, V...",Metallic,Cloth,Automatic,front,Standard,Plus,Safety Premium Package
2,Audi A1,Sedans,Used,Diesel,"Alloy wheels, Voice Control",Metallic,Cloth,Automatic,front,Premium,Standard,Safety Premium Package
3,Audi A1,Sedans,Used,Diesel,"Alloy wheels, Sport seats, Voice Control",Metallic,Cloth,Automatic,front,Standard,Plus,Safety Premium Package
4,Audi A1,Sedans,Used,Diesel,"Alloy wheels, Sport package, Sport suspension,...",Metallic,Cloth,Automatic,front,Premium,Plus,Safety Premium Package

In [10]:
for col in df_object:
    print(f"{col:<30}:", df[col].nunique())

make_model                    : 8
body_type                     : 8
Type                          : 5
Fuel                          : 3
Extras                        : 659
Paint_Type                    : 3
Upholstery_type               : 2
Gearing_Type                  : 3
Drive_chain                   : 3
Comfort_Convenience_Package   : 3
Entertainment_Media_Package   : 2
Safety_Security_Package       : 3

### Converting the Extras feature from object to numeric

In [11]:
df["Extras"] = df.Extras.apply(lambda x: len(x.split(',')))

In [11]:
df.Extras.value_counts(dropna=False)

1     7009
2     3391
3     2684
4     1404
5      743
6      409
7      174
8       60
9       28
10       7
Name: Extras, dtype: int64

In [12]:
for i in df.select_dtypes("object"):
    print("-------------"*4)
    print(i)
    print("-------------"*4)
    print(df[i].unique())

----------------------------------------------------
make_model
----------------------------------------------------
['Audi A1' 'Audi A3' 'Opel Astra' 'Opel Corsa' 'Opel Insignia'
 'Renault Clio' 'Renault Duster' 'Renault Espace']
----------------------------------------------------
body_type
----------------------------------------------------
['Sedans' 'Station wagon' 'Compact' 'Coupe' 'Van' 'Convertible' 'Off-Road'
 'Transporter']
----------------------------------------------------
Type
----------------------------------------------------
['Used' "Employee's car" 'New' 'Demonstration' 'Pre-registered']
----------------------------------------------------
Fuel
----------------------------------------------------
['Diesel' 'Benzine' 'LPG/CNG']
----------------------------------------------------
Paint_Type
----------------------------------------------------
['Metallic' 'Uni/basic' 'Perl effect']
----------------------------------------------------
Upholstery_type
----------------------------------------------------
['Cloth' 'Part/Full Leather']
----------------------------------------------------
Gearing_Type
----------------------------------------------------
['Automatic' 'Manual' 'Semi-automatic']
----------------------------------------------------
Drive_chain
----------------------------------------------------
['front' '4WD' 'rear']
----------------------------------------------------
Comfort_Convenience_Package
----------------------------------------------------
['Premium' 'Standard' 'Premium Plus']
----------------------------------------------------
Entertainment_Media_Package
----------------------------------------------------
['Plus' 'Standard']
----------------------------------------------------
Safety_Security_Package
----------------------------------------------------
['Safety Premium Package' 'Safety Premium Plus Package'
 'Safety Standard Package']

In [13]:
df.make_model.value_counts()

Audi A3           3093
Audi A1           2614
Opel Insignia     2598
Opel Astra        2525
Opel Corsa        2216
Renault Clio      1838
Renault Espace     991
Renault Duster      34
Name: make_model, dtype: int64

In [15]:
df_numeric = df.select_dtypes(include ="number")
df_numeric

,price,km,Extras,Gears,age,Previous_Owners,hp_kW,Inspection_new,Displacement_cc,Weight_kg,cons_comb,CO2_Emission
0,15770,56013.000000,3,7.0,3.0,2.0,66.0,1,1422.0,1220.0,3.8,99.0
1,14500,80000.000000,4,7.0,2.0,1.0,141.0,0,1798.0,1255.0,5.6,129.0
2,14640,83450.000000,2,7.0,3.0,1.0,85.0,0,1598.0,1135.0,3.8,99.0
3,14500,73000.000000,3,6.0,3.0,1.0,66.0,0,1422.0,1195.0,3.8,99.0
4,16790,16200.000000,4,7.0,3.0,1.0,66.0,1,1422.0,1135.0,4.1,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15904,39950,1647.362609,2,6.0,0.0,1.0,147.0,0,1997.0,1758.0,5.3,139.0
15905,39885,9900.000000,3,7.0,0.0,1.0,165.0,0,1798.0,1708.0,7.4,168.0
15906,39875,15.000000,1,6.0,0.0,1.0,146.0,1,1997.0,1734.0,5.3,139.0
15907,39700,10.000000,2,6.0,0.0,1.0,147.0,0,1997.0,1758.0,5.3,139.0
15908,40999,1647.362609,2,6.0,0.0,1.0,165.0,1,1798.0,1685.0,6.8,153.0

## multicollinearity control

In [18]:
df_numeric.corr()[(df_numeric.corr()<= -0.9) & (df_numeric.corr() >= 0.9)].any().any()

False

In [21]:
df.make_model.unique()

# datamızdaki unique gruplar

array(['Audi A1', 'Audi A3', 'Opel Astra', 'Opel Corsa', 'Opel Insignia',
       'Renault Clio', 'Renault Duster', 'Renault Espace'], dtype=object)

In [22]:
df[df["make_model"]== "Audi A1"]["price"]

# Audi A1'lerin fiyatları. Bu kodu kullanarak her bir araba için outlier değerleri tespit etmeye çalışacağız.

0       15770
1       14500
2       14640
3       14500
4       16790
        ...
2609    21800
2610    21789
2611    21750
2612    21760
2613    21750
Name: price, Length: 2614, dtype: int64

In [24]:
total_outliers = []

for model in df.make_model.unique():
    
    car_prices = df[df["make_model"]== model]["price"]
    
    Q1 = car_prices.quantile(0.25)
    Q3 = car_prices.quantile(0.75)
    IQR = Q3-Q1
    lower_lim = Q1-1.5*IQR
    upper_lim = Q3+1.5*IQR
    
    count_of_outliers = (car_prices[(car_prices < lower_lim) | (car_prices > upper_lim)]).count()
    
    total_outliers.append(count_of_outliers)
    
    print(f" The count of outlier for {model:<15} : {count_of_outliers:<5}, \
          The rate of outliers : {(count_of_outliers/len(df[df['make_model']== model])).round(3)}")
print()    
print("Total_outliers : ",sum(total_outliers), "The rate of total outliers :", (sum(total_outliers)/len(df)).round(3))

# 1.5 wisker değerine göre her bir gruba ait outlier olabileceğini değerlendirdiğimiz verileri tespit ediyoruz.

 The count of outlier for Audi A1         : 5    ,           The rate of outliers : 0.002
 The count of outlier for Audi A3         : 51   ,           The rate of outliers : 0.016
 The count of outlier for Opel Astra      : 134  ,           The rate of outliers : 0.053
 The count of outlier for Opel Corsa      : 0    ,           The rate of outliers : 0.0
 The count of outlier for Opel Insignia   : 114  ,           The rate of outliers : 0.044
 The count of outlier for Renault Clio    : 90   ,           The rate of outliers : 0.049
 The count of outlier for Renault Duster  : 0    ,           The rate of outliers : 0.0
 The count of outlier for Renault Espace  : 22   ,           The rate of outliers : 0.022

Total_outliers :  416 The rate of total outliers : 0.026

In [25]:
pd.DataFrame(df.select_dtypes('number').agg(['min', 'max']))

,price,km,Extras,Gears,age,Previous_Owners,hp_kW,Inspection_new,Displacement_cc,Weight_kg,cons_comb,CO2_Emission
min,4950,0.0,1,5.0,0.0,0.0,40.0,0,890.0,840.0,3.0,45.0
max,74600,317000.0,10,8.0,3.0,4.0,294.0,1,2967.0,2471.0,9.1,253.0

In [26]:
df.age.unique()

array([3., 2., 1., 0.])

In [27]:
df.Gearing_Type.value_counts()

Manual            8148
Automatic         7296
Semi-automatic     465
Name: Gearing_Type, dtype: int64

In [28]:
df.make_model.value_counts()

Audi A3           3093
Audi A1           2614
Opel Insignia     2598
Opel Astra        2525
Opel Corsa        2216
Renault Clio      1838
Renault Espace     991
Renault Duster      34
Name: make_model, dtype: int64

In [29]:
df.Fuel.value_counts()

Benzine    8548
Diesel     7297
LPG/CNG      64
Name: Fuel, dtype: int64

In [30]:
df.drop(df[df.Fuel=="LPG/CNG"].index,  inplace=True)
df.Fuel.value_counts()

Benzine    8548
Diesel     7297
Name: Fuel, dtype: int64

In [31]:
model_variables=['make_model', "km", "age", "Gearing_Type", 'Fuel']

In [32]:
X=df[model_variables]
y=df['price']

In [33]:
X.sample(5)

         make_model        km  age Gearing_Type     Fuel
14316  Renault Clio   14066.0  1.0       Manual  Benzine
1335        Audi A1   22336.0  1.0       Manual   Diesel
3549        Audi A3  122300.0  3.0       Manual   Diesel
9332     Opel Corsa      51.0  1.0    Automatic  Benzine
3127        Audi A3  115694.0  3.0       Manual   Diesel

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [35]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OrdinalEncoder

In [36]:
cat = X_train.select_dtypes("object").columns
cat

Index(['make_model', 'Gearing_Type', 'Fuel'], dtype='object')

In [37]:
ord_enc = OrdinalEncoder()
column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough')

In [38]:
X_train.iloc[1]

make_model      Opel Insignia
km                       10.0
age                       0.0
Gearing_Type        Automatic
Fuel                   Diesel
Name: 12397, dtype: object

In [39]:
X_train=column_trans.fit_transform(X_train)

In [40]:
X_test=column_trans.transform(X_test)

In [41]:
X_train

array([[1.000e+00, 1.000e+00, 1.000e+00, 3.990e+04, 2.000e+00],
       [4.000e+00, 0.000e+00, 1.000e+00, 1.000e+01, 0.000e+00],
       [3.000e+00, 0.000e+00, 0.000e+00, 5.000e+03, 0.000e+00],
       ...,
       [3.000e+00, 0.000e+00, 0.000e+00, 5.100e+01, 0.000e+00],
       [4.000e+00, 0.000e+00, 1.000e+00, 9.439e+04, 2.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, 1.006e+05, 3.000e+00]])

In [42]:
pd.Series(X_train[1])

0     4.0
1     0.0
2     1.0
3    10.0
4     0.0
dtype: float64

In [43]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor()

In [44]:
y_pred = rf_model.predict(X_test)

In [45]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [47]:
eval_metrics(y_test,y_pred)

 r2_score: 0.8978081610965393
 mae: 1284.6065116437287
 mse: 5154221.550947466
 rmse: 2270.2910718556477

In [48]:
import pickle
pickle.dump(rf_model, open('rf_model_new', 'wb'))

In [49]:
pickle.dump(column_trans, open('transformer', 'wb'))

In [50]:
richard_model = pickle.load(open('rf_model_new', 'rb'))

In [51]:
richard_transformer = pickle.load(open('transformer', 'rb'))

In [52]:
columns=list(X.columns)
columns

['make_model', 'km', 'age', 'Gearing_Type', 'Fuel']

In [54]:
my_dict = {
    "make_model": 'Audi A3',
    "km": 100000,
    "age": 2,
    "Gearing_Type":"Automatic",
    "Fuel":"Benzine"
}

In [55]:
df = pd.DataFrame.from_dict([my_dict])

In [56]:
df.head()

  make_model      km  age Gearing_Type     Fuel
0    Audi A3  100000    2    Automatic  Benzine

In [58]:
df2 = richard_transformer.transform(df)

In [59]:
prediction = richard_model.predict(df2)
print(prediction)

[18397.2]

In [60]:
print("The estimated price of your car is €{}. ".format(int(prediction[0])))

The estimated price of your car is €18397.

In [61]:
! streamlit run my_app.py

^C